{% extends 'base.html' %}



<div class="shadow card">
  <div class="card-columns">
    <div class="col-md-6 col-sm-6 mb-4">

    <h5 class="card-title">{{task.name}}</h5>
    <p class="card-text">{{task.priority}}</p>
      <p class="card-text">{{task.date}}</p>
    <a class="btn btn-danger"  href= "{% url 'todoapp:delete' task.id %}">Done</a>
      <a class="btn btn-success"  href= "{% url 'todoapp:update' task.id %}">update</a>
    </div>
    <br>
  </div>
  </div>
{% endblock %}














<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--{% for i in task %}-->
<!--{{i.name}}-->
<!--{{i.priority}}-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->